h1 {
  text-align: center;
  text-transform: uppercase;
}
.code {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  line-height: 70px
  margin-bottom: 20px;
}
table {
  margin-top: 20px;
  font-size: 18px;
}
.matches th:nth-child(odd),
.matches td:nth-child(odd) {
  text-align: right;
}
tr:nth-child(even) {
  background-color: #f5f5f5;
}
.buttons {
  text-align: center;
}
.hint {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.hint-hide {
  display: none;
}
