<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Codebreaker</title>
    <link href="/stylesheets/application.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Codebreaker</h1>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <% if @msg %>
            <div class="alert alert-<%= @msg[0] %> alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= @msg[1] %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/application.js"></script>
  </body>
</html>
